//mapa
$cajas: (
    bg-cajas: rgba(255, 255, 255, 0.308),
    border-cajas: 1px solid black,
    height-cajas: 600px,
    margin-bottom-cajas: 200px,
    margin-top-cajas: 50px,
    width-cajas: 250px,
);